nav {
    color: white;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: ease-in-out 0.5s;
    height: 48px;
    z-index: 1000;
}




#Menu {
    justify-content: space-between;
    padding: 0;
    display: flex;
    margin-top: -1%;
    height: 50px;
    padding-bottom: 10px;
    transition: ease-in-out 0.5s;
}

.petitmenu a {
    color: white;
}


ul[id="Menu"] li.grosmenu {
    margin-right: 5px;
    background-color: white;
    border: solid 1px black;
    height:35px;
    /*margin: 0;*/
}

ul[id="Menu"] li.grosmenu > a {
    text-decoration: none;
    display: inline-block;
    width: 170px;
    position: relative;
    color: #000000;
    text-align: center;
    font-size: 19px;
    margin-top:7px;
}

ul[id="Menu"] li.grosmenu:hover {
    transition: ease-in-out 0.1s;
    height:37px;
}

ul[id="Menu"] li:hover a {
    transition: ease-in-out 0.1s;
    margin-top:8px;
}


ul[id="Menu"] li {
    display: inline;
}

.profil {
    filter: invert(0.9);
    position: absolute !important;
    top: 15px;
    right: 100px;
    width: auto !important;
    transition: ease-in-out 0.5s;
}

.profil > img {
    min-width: 34px;
}

nav img {
    max-width: 25px;
}

.profil > p {
    max-height: 2ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 8ch;
    display: block;
    overflow: hidden
}

@media screen and (max-width: 1000px) {

    nav {
        opacity: 1;
    }

    #Menu {
        width: 75px;
        padding: 0;
        margin: 0;
        display: inline-block;
        height: 60px;
        padding-top: 40px;
        background-image: url("../../assets/img/Menu_icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }

    #Menu:hover {
        background-color: var(--background2);
    }

    #Menu > li {
        display: none;
        position: absolute;
    }

    #Menu:hover > li {
        display: block;
        position: relative;
    }

    #Menu:hover > li > a {
        height: auto;
    }

    #Menu > li:hover > a {
        color: white;
        background-color: grey;
        opacity: 0.9;
    }

    ul[id="Menu"] li.grosmenu {
        padding: 0;
        margin: 0;
    }

    ul[id="Menu"] li.grosmenu > a {
        margin-top: 60px;
        position: relative;
        margin: 0;
        padding: 10px;
        background-color: #ffffff;
        height: 0;
        width: 150px;
        font-size: 17px;
        line-height: 22px;
    }

    nav:hover .profil {
        top: 10px;
    }
}

.user {
    margin-left: auto;
    margin-right: 0px;
}