{% extends "base.html.twig" %}

{% block page_title %}Détail{% endblock %}

{% block page_content %}

<h3>Liste des utilisateurs :</h3>
<ul>
    {% for utilisateur in utilisateurs %}
        <li>
            Utilisateur de login {{ utilisateur.getLogin()|e }}
            <a href="{{route("detailUtilisateur", {'idUtilisateur' : utilisateur.getLogin()|e})}}">(+ d'info)</a>
        </li>
    {% endfor %}
</ul>
<a href='controleurFrontal.php?action=afficherFormulaireCreation&controleur=utilisateur'>Créer un utilisateur</a>
{% endblock %}